.fa-trash-o,
.fa-search,
.fa-repeat,
.fa-cart-plus {
    font-size: 20px;
    color: white;
}

.refresh-delete {
    display: flex;
}

.badge {
    padding: 5px;
    //border-radius: 50%;
    width: 20px;
    height: 20px;
}
