@import url('https://fonts.googleapis.com/css?family=Playfair+Display:400,700,800,900|Roboto:400,500,700,900&display=swap');

$green: #566948;
$lightgreen: #97a88b;
$earthbrown: #84754e;
$grey: #acadaf;  
$offwhite: #f5f5f5; //active button shading
$duckegggrey: #b6c3cc; //works well with lightgreen
$greygreen: #dfdcd5; //footer
$offblack: #000027; //footer text


main {
    padding: 0 20px;
}


h1,
h2,
h3 {
    font-family: 'Playfair Display', serif;
    margin-bottom: 50px;
}


a,
li {
    font-family: "Roboto",Arial,sans-serif;
}

p {
    font-family: 'Roboto', sans-serif;
}

p {
    margin-bottom: 30px;
}

div {
    margin-bottom: 15px;
        
}




