.footer {

    &-container {
        text-align: center;
        background-color: $greygreen;
        margin-top: -47px;
        margin-bottom: 0;
        font-size: 1em;
        padding-bottom: 1em;
        border-top: solid;
        border-color: $offblack;
    }

    &-footer-text {
        font-size: 0.8em;
        color: black;
        margin: 0;  
        padding: 0;
    }

}

.social {

    &-footer {
        color: $offblack;
    }

    &-links {
        font-size: 2em;
        text-align: center;
        background-color: $greygreen;
        margin: 0;
        padding-bottom: .5em;
    }

}

