.jumbotron {
    background: #fff;
    padding: 0;
    margin: 0;
}

.jumbo-text {
    background: rgba(86, 105, 72, 0.8);
    padding: 1em;
    border: solid white 3px;
    width: 500px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 8em;  
}

.carousel__img {
    max-height: 55vh;
    object-fit: cover;
    max-width: 2300px;
    margin: auto;
}

.logout-message {
    background-color: black;
    color: $green;
    display: block;
    padding: 0;
    margin: auto;
    text-align: center;
    padding-bottom: 1em;
    font-size: 1.2em;
}

