a.nav-link {
    font-size: 1.25em;
    margin: 0 .6em;
    color: $green !important;   
}

.current {
    border-bottom: 3px $grey solid;

}

.header-top {
    background-color: $green;
    color: white;

    &__menu {
        display: flex;
        justify-content: space-around;

        &_link {
                 
            list-style: none;
        }
    }
}