.header-top {
    background-color: $green;
    color: white;
    font-size: 0.8em;

    &__menu {
        display: flex;
        list-style: none;
        
    }
}

.navbar {
    background-color: $lightgreen; 
}

.logo {
    margin-bottom: 20px;
}

.active {
    font-weight: bolder;
}