.product-card {
    transition: all 0.3s;
}

.product-card:hover {
    box-shadow: 0 5px 20px 0 rgba(0,0,0,0.4);
    transform: translateY(-3px);

}

.qty-box {
    width: 30%;
}

 .card-body {
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: 0 1em;
}