.product-card {
    transition: all 0.3s;
}


.product-card:hover {
    box-shadow: 0 5px 20px 0 rgba(0,0,0,0.4);
    transform: translateY(-5px);

}

.qty-input {
    width: 40%;
    margin-right: 10px;
    margin-bottom: 0;
    height: 40px;
    display: inline-flex;
}

 .card-body {
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: 0 1em;
}

.product-detail-card {
    margin-top: 50px;
}

.product-page-form {
    display: inline-flex;
    justify-content: center;
}

.filter-active {
    background-color: $green;
    color: white;
    border: solid $duckegggrey 2px;
}




