{% extends 'base.html' %}

{% block content %}

<div>
    {% if messages %}
    <div class="logout-message">
    {% for message in messages %}
    {{ message }}
    {% endfor %}
    </div>
    {% endif %}
</div>
<div class="container">
    <div class="row">
        <div class="col text-center">
            <h1>Products Detail</h1>
        </div>
    </div>
</div>


    <div class="container-fluid">
            <div class="row">
                    <div>
                        <p>No results found</p>
                    </div>
                <div class="col-xs-12 col-sm-12 col-md-4 col-lg-3">
                    <div class="card product-card">
                        <img class="card-img-top" src="/{{ product.product_image }}" alt="Card image cap">
                        <div class="card-body">
                            <h3> {{ products.product_name }} </h3>
                                <p class="card-text"></p>
                                <p class="card-text">£{{ products.product_price }}</p>
                                <p class="card-text"><strong>Weight</strong> {{ products.product_weight }}g <br>
                                <class="card-text"><strong>Serves</strong> {{ products.product_serves }}<br><br>
                                </p>
                                <form method="post" action="{% url 'add_to_cart' product.id %}">
                                    {% csrf_token %}
                                <div class="form-group text-center">
                                    <input type="number" name="quantity" min="1" max="500" default="1" class="form-control qty-input" placeholder="Quantity" required>
                                      <button class="btn" type="submit">Add to Cart</button>
                                </div>
                                </form>
                        </div>
                    </div>
                </div>
            </div>
            </div>
        </div>
        </div>
    </div>
</div>


{% endblock %}