{% extends 'base.html' %}

{% block content %}

<div class="jumbotron jumbo-products">
    {% if messages %}
    <div class="logout-message">
    {% for message in messages %}
    {{ message }}
    {% endfor %}
    </div>
    {% endif %}
</div>
<div class="container">
    <div class="row">
        <div class="col text-center">
            <h1>Products</h1>
        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="row">
        <div class="col-xs-12 col-sm-5 col-md-4 col-lg-3 product-filters"> <!--HERE FILTERS GRID-->
            <div class="container">
                    <h2>Categories</h2>                    
                </div>
                <div class="col-xs-12 col-sm-6 col-md-12">
                    <form action="{% url 'products_by_category' 'Fruit' %}">
                        <button class="btn filter-btn" type="submit">Fruit</button> 
                    </form>                   
                </div>
                <div class="col-xs-12 col-sm-6 col-lg-4">
                    <form action="{% url 'products_by_category' 'Vegetables' %}">
                        <button class="btn filter-btn" type="submit">Vegetables</button> 
                    </form>                   
                </div>
                <div class="col-xs-12 col-sm-6 col-lg-4">
                    <form action="{% url 'products_by_category' 'Lamb' %}">
                        <button class="btn filter-btn" type="submit">Lamb</button> 
                    </form>                   
                </div>
                <div class="col-xs-12 col-sm-6 col-lg-4">
                    <form action="{% url 'products_by_category' 'Beef' %}">
                        <button class="btn filter-btn" type="submit">Beef</button> 
                    </form>                   
                </div>
                <div class="col-xs-12 col-sm-6 col-lg-4">
                    <form action="{% url 'products_by_category' 'Pork' %}">
                        <button class="btn filter-btn" type="submit">Pork</button> 
                    </form> 
            </div>
            <div class="container-fluid">
                    <h2>Serving Size</h2>
                </div>
                <div class="col-xs-12 col-sm-6 col-lg-4">
                    <form action="#">
                      <div class="form-check">
                        <label class="form-check-label" for="radio1">
                          <input type="radio" class="form-check-input" id="radio1" name="optradio" value="option1" checked>Serves 1-2
                        </label>
                      </div>
                      <div class="form-check">
                        <label class="form-check-label" for="radio2">
                          <input type="radio" class="form-check-input" id="radio2" name="optradio" value="option2">Serves 2-4
                        </label>
                      </div>
                      <div class="form-check">
                        <label class="form-check-label" for="radio2">
                          <input type="radio" class="form-check-input" id="radio2" name="optradio" value="option2">Serves 6-8
                        </label>
                      </div>
                      <div class="form-check">
                        <label class="form-check-label">
                          <input type="radio" class="form-check-input" id="radio2" name="optradio" value="option2">Serves 9-10
                        </label>
                      </div>
                      <button type="submit" class="btn filter-btn">Submit</button>
                    </form>
                  </div>
                </div>
           <div class="col-xs-12 col-sm-6 col-md-8 col-lg-8"> <!--Here card grid-->
            <div class="row">
             {% if not products %}
                    <div>
                        <p>No results found</p>
                    </div>
                    {% else %}
                     {% for product in products %}
                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4">
                    <div class="card product-card">
                        <img class="card-img-top" src="/{{ product.product_image }}" alt="Card image cap">
                        <div class="card-body">
                            <h3> {{ product.product_name }} </h3>
                                <p class="card-text"></p>
                                <p class="card-text">£{{ product.product_price }}</p>
                                <div class="text-center">
                                    <p class="text-center">Qty 
                                        <input class="qty-box text-center" type="number"></input>
                                    </p>
                                </div>
                                <div class="form-group text-center">
                                    <a href="#" class="btn text-center">Add to Cart</a>
                                </div>
                        </div>
                    </div>
                </div>
                 {% endfor %}
                    {% endif %}
            </div>
        </div>
        </div>
    </div>
</div>


{% endblock %}