{% extends 'base.html' %}

{% block content %}

<div>
    {% if messages %}
    <div class="logout-message">
    {% for message in messages %}
    {{ message }}
    {% endfor %}
    </div>
    {% endif %}
</div>
<div class="container">
    <div class="row">
        <div class="col text-center">
            <h1>Products</h1>
        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-2">
            <form action="{% url 'products_by_category' 'Fruit' %}">
                <button class="btn filter-btn" type="submit">Fruit</button> 
            </form>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-2">   
            <form action="{% url 'products_by_category' 'Vegetables' %}">
                <button class="btn filter-btn" type="submit">Vegetables</button> 
            </form>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-2">   
            <form action="{% url 'products_by_category' 'Lamb' %}">
                <button class="btn filter-btn" type="submit">Lamb</button> 
            </form>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-2">  
            <form action="{% url 'products_by_category' 'Beef' %}">
                <button class="btn filter-btn" type="submit">Beef</button> 
            </form>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-2">  
            <form action="{% url 'products_by_category' 'Pork' %}">
                <button class="btn filter-btn" type="submit">Pork</button> 
            </form>
        </div> 
        <div class="col-xs-12 col-sm-12 col-md-2">  
            <form action="{% url 'products' %}">
                <button class="btn filter-btn" type="submit">Clear Filter</button> 
            </form>
        </div> 
    </div>
</div>
    <div class="container-fluid">
            <div class="row">
             {% if not products %}
                    <div>
                        <p>No results found</p>
                    </div>
                    {% else %}
                     {% for product in products %}
                <div class="col-xs-12 col-sm-12 col-md-4 col-lg-3">
                    <div class="card product-card">
                        <img class="card-img-top" src="/{{ product.product_image }}" alt="Card image cap">
                        <div class="card-body">
                            <h3> {{ product.product_name }} </h3>
                                <p class="card-text"></p>
                                <p class="card-text">£{{ product.product_price }}</p>
                                <p class="card-text"><strong>Weight</strong> {{ product.product_weight }}g <br>
                                <class="card-text"><strong>Serves</strong> {{ product.product_serves }}<br><br>
                                </p>
                                <form method="post" action="{% url 'add_to_cart' product.id %}">
                                    {% csrf_token %}
                                <div class="form-group text-center">
                                    <input type="number" name="quantity" min="1" max="500" default="1" class="form-control qty-input" placeholder="Quantity" required>
                                      <button class="btn" type="submit">Add to Cart</button>
                                </div>
                                </form>
                        </div>
                    </div>
                </div>
                 {% endfor %}
                    {% endif %}
            </div>
            </div>
        </div>
        </div>
    </div>
</div>


{% endblock %}