@import url("https://fonts.googleapis.com/css?family=Fredoka+One|Varela+Round&display=swap");
h1,
h2,
h3 {
  font-family: 'Fredoka One', cursive;
  margin-bottom: 10px; }

p,
li,
a {
  font-family: 'Varela Round', sans-serif; }

p {
  margin-bottom: 30px; }

div {
  margin-bottom: 15px; }

.footer-container {
  text-align: center;
  background-color: #101010;
  margin-top: auto;
  margin-bottom: 0;
  font-size: 1.2em;
  padding-top: 0.5em;
  padding-bottom: 1em;
  border-top: solid;
  border-color: silver; }

.footer-text {
  color: silver; }

.social-footer {
  color: silver; }

.social-links {
  font-size: 2em;
  text-align: center;
  background-color: #101010;
  margin: 0;
  padding-bottom: .5em; }

.fa {
  color: silver;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s; }

.fa:hover {
  color: #fec606; }

.jumbotron {
  background: white url("/static/img/hero4.jpg");
  background-size: cover;
  background-position: center;
  height: 50vh; }
