@import url("https://fonts.googleapis.com/css?family=Playfair+Display:400,700,800,900|Roboto:400,500,700,900&display=swap");
main {
  padding: 0 20px; }

h1,
h2,
h3 {
  font-family: 'Playfair Display', serif;
  margin-bottom: 50px; }

a,
li {
  font-family: "Roboto",Arial,sans-serif; }

p {
  font-family: 'Roboto', sans-serif; }

p {
  margin-bottom: 30px; }

div {
  margin-bottom: 15px; }

.footer-container {
  text-align: center;
  background-color: #dfdcd5;
  margin-top: auto;
  margin-bottom: 0;
  font-size: 1.2em;
  padding-top: 0.5em;
  padding-bottom: 1em;
  border-top: solid;
  border-color: #000027; }

.footer-text {
  color: #000027; }

.social-footer {
  color: #000027; }

.social-links {
  font-size: 2em;
  text-align: center;
  background-color: #dfdcd5;
  margin: 0;
  padding-bottom: .5em; }

.fa {
  color: #000027;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s; }

.fa:hover {
  color: #566948; }

.jumbotron {
  background-size: cover;
  background-position: center;
  background: #fff;
  padding: 0;
  margin: 0; }

.logout-message {
  background-color: black;
  color: #566948;
  display: block;
  padding: 0;
  margin: auto;
  text-align: center;
  padding-bottom: 1em;
  font-size: 1.2em; }

.carousel__img {
  max-height: 60vh;
  object-fit: cover; }

.pic-window {
  background-size: cover;
  box-sizing: border-box;
  border: solid white 1em; }

.pic1 {
  background-image: url("/static/img/family.jpg"); }

.pic2 {
  background-image: url("/static/img/cwtch_corner.jpg"); }

.pic3 {
  background-image: url("/static/img/lamb.jpg"); }

.pic4 {
  background-image: url("/static/img/carrots.jpg"); }

.block {
  border-radius: 3px;
  padding: 0 !important; }
  .block-inner {
    background: blue;
    border-radius: 3px;
    width: 100%;
    clip-path: circle(10% at 0% 0%);
    transition: clip-path .5s ease-in-out; }
    .block-inner h1 {
      color: white;
      margin: 0; }
    .block-inner p {
      color: white;
      font-size: 1em; }
  .block:hover .block-inner {
    clip-path: circle(75%); }

.header-top {
  background-color: #566948;
  color: white;
  font-size: 0.8em; }
  .header-top__menu {
    display: flex;
    list-style: none; }

.navbar {
  background-color: #97a88b; }

.logo {
  margin-bottom: 20px; }

.free-dev {
  margin-bottom: 20px; }
