<!--Extending base.html-->
{% extends 'base.html' %}
<!--Utilising crispy forms for form generation-->
{% load crispy_forms_tags %}
<!--Opening block tags-->
{% block content %}

<!--Log in form-->
<div class="container">
	<div class="row">
		<div class="col-12 offset-md-4 col-md-4">
			<form method="POST">
				{% csrf_token %}
				<div class="form-group">
						<h2 class="text-center">Log In</h2>
					{{ form|crispy }}
				</div>
				<div class="form-group text-center">
					<button class="btn" aria-label="Log In" type="submit">Log In</button>
					<small class="ml-3">
                        <a href="{% url 'password_reset' %}">Forgot Password?</a>
                    </small>
					<div class="text-center">
                        <hr />
						<p>
                            Don't have an account? <a class="ml-3" href="{% url 'register' %}">Sign Up Here</a>
                        </p>
					</div>
				</div>
			</form>
		</div>
	</div>
</div>
<!--Stacking advertorial on base footer-->
{% include 'advertorial.html' %}
<!--End Block tag-->
{% endblock %}