<!--Extending base.html-->
{% extends 'base.html' %}
<!--Utilising crispy forms for form generation-->
{% load crispy_forms_tags %}
<!--Opening block tags-->
{% block content %}

<!--Log in form-->
<div class="container">
	<div class="row">
		<div class="col-12 offset-md-4 col-md-4">
			<form method="POST">
				{% csrf_token %}
				<fieldset class="form-group">
					<legend class="border-bottom mb-4">
						<h2 class="text-center">Log In</h2>
					</legend>
					{{ form|crispy }}
				</fieldset>
				<div class="form-group text-center">
					<button class="btn btn-success" type="submit">Log In</button>
					<small class="text-muted ml-2">
                        <a href="{% url 'password_reset' %}">Forgot Password?</a>
                    </small>
					<div class="border-top pt-2 mt-4 mb-5 text-center">
						<small class="text-muted">
                            Don't have an account? <a class="ml-3" href="{% url 'register' %}">Sign Up Here</a>
                        </small>
					</div>
				</div>
			</form>
		</div>
	</div>
</div>
<!--Stacking advertorial on base footer-->
{% include 'advertorial.html' %}
<!--End Block tag-->
{% endblock %}