<!--Extends base.html-->
{% extends 'base.html' %}
<!--Load Crispy Form tags for form generation-->
{% load crispy_forms_tags %}
<!--Open block content-->
{% block content %}

<!--Submit reset password request-->
<div class="container">
	<form method="POST">
		{% csrf_token %}
		<fieldset class="form-group">
			<legend class="border-bottom mb-4">Reset Password</legend>
			{{ form|crispy }}
		</fieldset>
		<div class="form-group">
			<button class="btn mb-5" aria-label="Password Reset Confirm" type="submit">Reset Password</button>
		</div>
	</form>
</div>
<!--Stacking advertorial on base footer-->
{% include 'advertorial.html' %}
<!--End Block tag-->
{% endblock %}