<!--Extends base.html-->
{% extends 'base.html' %}
<!--Open block Content-->
{% block content %}
<!--Password reset confirmation-->
<div class="container-fluid">
	<div class="row">
		<div class="col-12">
			<div class="alert alert-success text-center">
				Your password has been reset.
			</div>
			<a href="{% url 'login' %}" class="btn text-align-center mb-5">Sign In</a>
		</div>
	</div>
</div>
<!--Stacking advertorial on base footer-->
{% include 'advertorial.html' %}
<!--End Block tag-->
{% endblock %}