<!--Extend base.html-->
{% extends 'base.html' %}
<!--Load Crispy Forms-->
{% load crispy_forms_tags %}
<!--Open Block Content-->
{% block content %}

<!--Reset Password Link-->
<div class="container">
	<div class="row">
		<div class="col-12">
			<form method="POST">
				{% csrf_token %}
				<fieldset class="form-group">
					<h1 class="border-bottom mb-4">Reset Password</h1>
					{{ form|crispy }}
				</fieldset>
				<div class="form-group">
					<button class="btn mb-5" aria-label="Request Password Link" type="submit">Request Password Reset Link</button>
				</div>
			</form>
		</div>
	</div>
</div>
<!--End of content block-->
{% endblock %}