<!--Extend bast.html-->
{% extends 'base.html' %}
<!--Open content block-->
{% block content %}
<!--Reset email confirmation-->
<div class="container-fluid">
	<div class="row">
		<div class="col-12">
			<div class="alert alert-success text-center">
				You have been sent an email to reset your password. On occassion this email may end up in you spam
				folder.
			</div>
		</div>
	</div>
</div>
<!--Stacking advertorial on base footer-->
{% include 'advertorial.html' %}
<!--End Block tag-->
{% endblock %}