{% extends 'base.html' %}
{% load static from staticfiles %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <h1 class="text-center">Cart</h1>
            <hr>
        </div>
    </div>
     {% for item in cart_items %}
    <div class="row">
        <div class="col-sm-12 col-md-2">
            <img src="/{{ item.product.product_image}}" class="img-fluid" alt="">
        </div>
        <div class="col-sm-12 col-md-2 text-center">
            <p><strong>{{ item.product.product_name}}</strong><br>{{ item.product.product_weight }}g<br>Serves {{ item.product.product_serves }}</p>
        </div>
        <div class="offset-md-3">
            
        </div>
        <div class="col-sm-12 col-md-1">
            <p class="text-center"><strong>Price</strong></p>
            <p class="text-center">£{{ item.product.product_price }}</p>
        </div>
        <div class="col-sm-12 col-md-3 text-center">
            <p class="text-center"><strong>Quantity</strong></p>
            <div class="text-center">
               <form method="POST" action="{% url 'adjust_cart' item.id %}">
                    {% csrf_token %}
                    <input class="text-center align-items-center" type="number" name="quantity" value="{{ item.quantity }}"></input>
                    <button type="submit" class="btn"><small class="text-muted ">Update Total</button>
               </form>
            </small>
            </div>
        </div>
        <div class="col-sm-12 col-md-1">
            <p class="text-center"><strong>Total</strong></p>
            <p class="text-center">£{{ item.item_total }}</p>
        </div>
    </div>
    <hr>

    {% endfor %}
    
    <div class="row">
        <div class="col-sm-12 col-md-2">
        </div>
        <div class="col-sm-12 col-md-2">
        </div>
        <div class="offset-md-3">
            
        </div>
        <div class="col-sm-12 col-md-1">
            <p class="text-center">Subtotal</p>
        </div>
        <div class="col-sm-12 col-md-3 text-center">
        </div>
        <div class="col-sm-12 col-md-1">
            <p class="text-center">£{{ total }}</p>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12 col-md-2">
        </div>
        <div class="col-sm-12 col-md-2">
        </div>
        <div class="offset-md-3">
            
        </div>
        <div class="col-sm-12 col-md-1">
            <p class="text-center"><strong>Total</strong></p>
        </div>
        <div class="col-sm-12 col-md-3 text-center">
        </div>
        <div class="col-sm-12 col-md-1">
            <p class="text-center">£{{ total }}</p>
            <a href="/" class="btn" role="button">Checkout</a>
        </div>
    </div>
</div>

{% endblock %}