 <!-- Advertorial Section -->

<div class="container-fluid light-grey-block">
  <div class="container-fluid">
      <div class="row">
          <div class="col-12 col-sm-6 col-md-4">
              <h2 class="text-center">VISIT US</h2>
              <p class="text-justify">All the fun of the farm. We're more than just
                  a shop. Visit us for a great family day out.
                  Discover what's involved in runnnig a farm and 
                  meet the animals. Addmission is refunded if you 
                  spend over £40 in our farm shop.  Tickets can be
                  purchased on arrival.
              </p>
          </div>
          <div class="col-12 col-sm-6 col-md-4">
              <h2 class="text-center">SHOP ONLINE</h2>
              <p class="text-justify">Unlike traditional farm shops you can now purchase
                  any of our produce online.  We deliver nationally 
                  for a small fee and locally for free on all orders over £40.  Be confident
                  in your purchases as we offer a quality guarantee. If for 
                  any reason you are not satisfied with your purchases we will
                  refund you.
              </p>
          </div>
          <div class="col-12 col-sm-12 col-md-4">
              <h2 class="text-center">HOME GROWN</h2>
              <p class="text-justify">All of our produce is home grown and organic. We do not use
                  any commercial fertilisers at Oakfield farm as the environmental
                  effects of using such chemicals are well document.  We pride ourselves
                  on being ethically and environmentally minded.
              </p>
          </div>
      </div>
  </div>
</div>
