<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
    type="text/css" />
  {% load static %}
  <link rel="stylesheet" href="{% static '/css/main.css' %}" type="text/css" />
  <title>Oakfield Farm Shop</title>
</head>

<!--Navigation-->
<header>
  <div class="header-top">
      <ul class="header-top__menu d-flex justify-content-around">
        <li class="mr-auto p-2"><a>01234 654321</a></li>
        <li class="p-2"><a>Account</a></li>
        <li class="p-2"><a>Basket</a></li>
      </ul>
  </div>
  
  <div class="container-fluid text-center">
    <div class="row">
      <a class="col-md-4 align-self-center" href="{% url 'home' %}">
        <img src="/static/img/quality.svg" class="img-fluid" style="width: 280px;">
      </a>
      <a class="logo col-md-4" href="{% url 'home' %}">
        <img src="/static/img/logo.png" class="img-fluid" style="width: 180px;">
      </a>
      <form id="nav-search" class="form-inline col-sm-12 col-md-4 justify-content-center">
        <input class="form-control col-sm-8 col-md-8 col-lg-6 mr-sm-1" type="search" placeholder="Search" aria-label="Search" />
        <button class="btn btn btn-success col-sm-2 col-md-2 col-lg-2" type="submit">
          <i class="fa fa-search "></i>
        </button>
      </form>
  </div>
</header>

<nav id="nav" class="navbar navbar-expand-lg navbar-light bg-light">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse my-auto" id="navbarSupportedContent">

    {% if user.is_authenticated %}

    <ul class="navbar-nav nav-fill w-100 d-flex">
      {% with url_name=request.resolver_match.url_name %}
      <li class="nav-item {% if url_name == 'home' %}active{% endif %}">
        <a class="nav-link" href="{% url 'home' %}">Home</a>
      </li>
      <li class="nav-item {% if url_name == 'products' %}active{% endif %}">
        <a class="nav-link" href="/products">Farm Shop</a>
      </li>
      <li class="nav-item {% if url_name == 'contact' %}active{% endif %}">
        <a class="nav-link" href="/contact">Contact Us</a>
      </li>
      <li class="nav-item {% if url_name == 'cart' %}active{% endif %}">
        <a class="nav-link" href="/cart">Cart</a>
      </li>
      <li class="nav-item {% if url_name == 'logout' %}active{% endif %}">
        <a class="nav-link" href="/logout">Logout</a>
      </li>
      <li class="nav-item {% if url_name == 'profile' %}active{% endif %}">
        <a class="nav-link" href="/profile">Profile</a>
      </li>
      {% endwith %}
    </ul>

    {% else %}

    <ul class="navbar-nav nav-fill w-100 d-flex">
      {% with url_name=request.resolver_match.url_name %}
      <li class="nav-item {% if url_name == 'home' %}active{% endif %}">
        <a class="nav-link" href="{% url 'home' %}">Home</a>
      </li>
      <li class="nav-item {% if url_name == 'products' %}active{% endif %}">
        <a class="nav-link" href="{% url 'products' %}">Farm Shop</a>
      </li>
      <li class="nav-item {% if url_name == 'register' %}active{% endif %}">
        <a class="nav-link" href="{% url 'register' %}">Register</a>
      </li>
      <li class="nav-item {% if url_name == 'login' %}active{% endif %}">
        <a class="nav-link" href="{% url 'login' %}">Log In</a>
      </li>
      <li class="nav-item {% if url_name == 'contact' %}active{% endif %}">
        <a class="nav-link" href="{% url 'contact' %}">Contact Us</a>
      </li>
      <li class="nav-item {% if url_name == 'cart' %}active{% endif %}">
        <a class="nav-link" href="{% url 'cart' %}">Cart</a>
      </li>
      {% endwith %}
    </ul>

    {% endif %}

    
  </div>

</nav>



<main>

  <body>
    {% if messages %}
      {% for message in messages %}
        <div class="text-center alert alert-{{ message.tags }}">
          {{ message }}
        </div>
      {% endfor %}
    {% endif %}
    {% block content %} replace me {% endblock %}

    
  <!-- Advertorial Section -->

<div class="container-fluid light-grey-block">
  <div class="container-fluid">
      <div class="row">
          <div class="col-sm-12 col-md-4">
              <h2 class="text-center">VISIT US</h2>
              <p class="text-justify">All the fun of the farm. We're moer than just
                  a shop. Visit us for a great family day out.
                  Discover what's involved in runnnig a farm and 
                  meet the animals. Addmission is refunded if you 
                  spend over £30 in our farm shop.  Tickets can be
                  purchased on arrival.
              </p>
          </div>
          <div class="col-sm-12 col-md-4">
              <h2 class="text-center">SHOP ONLINE</h2>
              <p class="text-justify">Unlike traditional farm shops you can now purchase
                  any of our produce online.  We deliver nationally 
                  for a small fee and locally for free.  Be confident
                  in your purchases as we offer a quality garauntee. If for 
                  any reason you are not satisfied with your purchases we will
                  refund you.
              </p>
          </div>
          <div class="col-sm-12 col-md-4">
              <h2 class="text-center">HOME GROWN</h2>
              <p class="text-justify">All of our produce is home grown and organic. We do not use
                  any commercial fertilisers at Oakfield farm as the environmental
                  effects of using such chemicals are well document.  We pride ourselves
                  on being ethically and environmentally minded.
              </p>
          </div>
      </div>
  </div>
</div>

  <!-- Subscribe Section -->

<div class="container-fluid light-green-block">
  <div class="container">
      <div class="row">
          <div class="col-sm-12">
              <h2 class="text-center">KEEP IN TOUCH</h2>
              <p class="text-center">Subscribe to our news letter for the latest news and special offers</p>
              <form class="form-inline justify-content-center">
                  <div class="form-group col-md-6">
                    <input type="email" class="form-control" id="emailsubscribe" placeholder="email">
                  </div>
                  <button type="submit" class="btn btn-success">Subscribe</button>
              </form>
              <ul class="list-inline socialmedia-links ">
                  <li class="list-inline-item">
                    <a href="https://www.facebook.com/" target="_blank"><i class="fa fa-facebook"></i></a>
                  </li>
                  <li class="list-inline-item">
                    <a href="https://twitter.com/" target="_blank"><i class="fa fa-twitter"></i></a>
                  </li>
                  <li class="list-inline-item">
                    <a href="https://linkedin.com" target="_blank"><i class="fa fa-linkedin"></i></a>
                  </li>
                  <li class="list-inline-item">
                    <a href="https://pinterest.com" target="_blank"><i class="fa fa-pinterest"></i></a>
                  </li>
                  <li class="list-inline-item">
                    <a href="https://instagram.com" target="_blank"><i class="fa fa-instagram"></i></a>
                  </li>
                  <li class="list-inline-item">
                    <a href="https://youtube.com" target="_blank"><i class="fa fa-youtube"></i></a>
                  </li>
                </ul>
          </div>
      </div>
  </div>
</div>    
</main>
<footer class="footer-container container-fluid text-center">
  <div class="row">
      <a class="logo offset-md-4 col-md-4 mt-3" href="{% url 'home' %}">
        <img src="/static/img/logo.png" class="img-fluid" style="width: 150px;">
      </a>
  <div class="col-sm-12">
        <p>Tel 01234 654321  |  info@oakfieldfarmshop.co.uk</p>
        <p class="footer-footer-text text-center">
          Full Stack Development with Django | Milestone Project 5 | © 2019 John Hay
          <a href="https://github.com/JayPeaa" target="_blank"><i class="fa fa-github fa-3x list-inline social-links"></i></a>
        </p>
  </div> 
</footer>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
      integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous">
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
      integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous">
    </script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
      integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous">
    </script>
</body>
</html>