<!--Extending base.html with jinja and opening up content block-->
{% extends 'base.html' %}
{% block content %}

<!--Contact form container-->
<div class="container">
	<div class="row">
		<div class="col-12 text-center">
			<h1>Contact Us</h1>
			<p>There are a number of ways to contact us. This page contains all the important information you need to
				know.
				If you would like to visit us then you can also find our address, map and opening times below.
			</p>
		</div>
	</div>
	<div class="row">
		<div class="col-12 col-md-6">
<!--Contact Form with CSRF token-->
			<h3>Contact Form</h3>
			<div class="contact-us-form text-center">
				<form id="contact-form" class="contact-us-form" action="{% url 'contact' %}" method="POST">
					{% csrf_token %}
                    <input type="text" name="name" class="form-control" id="fullname" placeholder="Name" required/>
                    <input type="text" name="emailaddress" class="form-control" id="emailaddress" placeholder="Email address" required/>
					<textarea rows="5" name="formmessage" class="form-control" id="formmessage" placeholder="Enter your message here" required></textarea>
					<button type="submit" class="btn center-block" aria-label="Send Message">Send Message</button>
				</form>
			</div>
		</div>
		<div class="col-12 col-md-6">
			<h3>Opening Times</h3>
			<p class="contact-info">The Grounds<br /> Mon - Fri:   8am till 8pm | Sat - Sun:   9am till 6pm
				<br /><br />Farm Shop<br />Mon - Fri:   8am till 8pm | Sat - Sun:   Online Only </p>
		</div>
	</div>
	<hr>
	<div class="row">
		<div class="col-12 text-center">
			<h2>Visiting Oakfield</h2>
		</div>
	</div>
	<div class="row">
		<div class="col-12 col-md-6">
			<p class="contact-info">Oakfield Farm & Shop <br /> 123 Lincoln Avenue <br /> Wales <br /> SG10 3TR <br /><br /> Tel: 01234 654321
				<br /><br /> info@oakfieldfarmshop.co.uk</p>
		</div>
<!--Google Maps API - Map renders in this the map ID-->
		<div class="col-12 col-md-6">
			<div id="map">maps error</div>
		</div>
	</div>
</div>

<!--script tags for Jquery-->
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
		integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous">
	</script>
<!--script tags for Google Maps API on contact page-->
	<script>
		function initMap() {
        // Map set up
        var options = {
          zoom:8,
          center:{lat:51.9974, lng:-3.7975}
        }
        //New Map
        var map = new google.maps.Map(document.getElementById('map'), options);

        //Add Marker
        var marker = new google.maps.Marker({
          position:{lat:51.9974, lng:-3.7975},
          map:map
        });
      }
    $(document).ready(function() {
        initMap();
    });
	</script>
	<script
		src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBOhA5ZRqjF3DTWyEhInzXhlslWOGwvf_Q">
	</script>

<!--Stacing advertorial and subcribe templates on top of base footer-->
{% include 'advertorial.html' %}
{% include 'subscribe.html' %}
<!--Closing Block-->
{% endblock %}