<footer class="container-fluid footer-container">
    <hr>
    <p class="social-footer">Our Social</p>
    <ul class="list-inline social-links ">
        <li class="list-inline-item"><a href="https://www.facebook.com/" target="_blank"><i
                    class="fa fa-facebook"></i></a></li>
        <li class="list-inline-item"><a href="https://twitter.com/" target="_blank"><i class="fa fa-twitter"></i></a>
        </li>
        <li class="list-inline-item"><a href="https://linkedin.com" target="_blank"><i class="fa fa-linkedin"></i></a>
        </li>
        <li class="list-inline-item"><a href="https://pinterest.com" target="_blank"><i class="fa fa-pinterest"></i></a>
        </li>
        <li class="list-inline-item"><a href="https://instagram.com" target="_blank"><i class="fa fa-instagram"></i></a>
        </li>
        <li class="list-inline-item"><a href="https://youtube.com" target="_blank"><i class="fa fa-youtube"></i></a>
        </li>
    </ul>
    <p class="footer-text">Full Stack Development with Django | Milestone Project 5 | © 2019 John Hay
        <a href="https://github.com/JayPeaa" target="_blank"><i
                class="fa fa-github fa-3x list-inline social-links"></i></a>
    </p>
</footer>