  <!--Jumbotron / Hero Carousel can be added on any page with the include statement a Bootstrap4 component-->
  <div class="jumbotron carousel-container">
    <div class="logout-message">
    </div>

    <div id="carouselCaptions" class="carousel slide" data-ride="carousel">
      <ol class="carousel-indicators">
        <li data-target="#carouselCaptions" data-slide-to="0" class="active"></li>
        <li data-target="#carouselCaptions" data-slide-to="1"></li>
        <li data-target="#carouselCaptions" data-slide-to="2"></li>
      </ol>
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img src="/static/img/farm_house2.jpg" class="d-block w-100 img-fluid carousel__img" alt="...">
          <div class="carousel-caption d-none d-md-block">
            <div class="jumbo-text">
            <h3>Welcome to Oakfield Farm & Shop</h3>
            <a class="btn" href="{% url 'products' %}">Shop Now</a>
            </div>
          </div>
        </div>
        <div class="carousel-item">
          <img src="/static/img/brown_cow_in_field.jpg" class="d-block w-100 img-fluid carousel__img" alt="...">
          <div class="carousel-caption d-none d-md-block">
            <div class="jumbo-text">
            <h3>Welcome to Oakfield Farm & Shop</h3>
            <a class="btn" href="{% url 'products' %}">Shop Now</a>
            </div>
          </div>
        </div>
        <div class="carousel-item">
          <img src="/static/img/squirrel.jpg" class="d-block w-100 img-fluid carousel__img" alt="...">
          <div class="carousel-caption d-none d-md-block">
           <div class="jumbo-text">
            <h3>Welcome to Oakfield Farm & Shop</h3>
            <a class="btn" href="{% url 'products' %}">Shop Now</a>
            </div>
          </div>
        </div>
      </div>
<!--Navigate to next or previous slise-->
      <a class="carousel-control-prev" href="#carouselCaptions" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#carouselCaptions" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
  </div>