{% extends 'base.html' %}
{% block content %}

<div class="container">
    <div class="row">
        <h2 class="col text-center">Welcome to Oakfield Farm & Shop</h2>
        <p>We're a family run business with years of experience of producing the finest produce which we sell in our shop both on site
            and online.  We are much more than your ordinary farm shop and offer fun days out for all the family.  Come and visit us in person, meet 
            the animals and enjoy all the fun at the farm.  We often have additional events and run various festivals throughout the summer. Admission
            to the farm is just £2 per child and £3 per adult.  Spend over £40 in our shop and admission is refunded.  So what are you waiting for!
        </p>
    </div>
</div>
         
 <!--Activity Section-->


        
        <!-- grid system for clip path elements -->
<div class="container">
    <div class="row">
        <div class="pic-window pic1 block col-sm-12 col-md-6">
            <div class="block-inner">
                <h2>Explore the Grounds</h2>
                <p>Experience our beautiful farm and 80 acres of woodland.
                    Experience nature, breath in the fresh and relax whilst
                    making precious memories with your friends and family.
                </p>
            </div>
        </div>
        <div class="pic-window pic2 block col-sm-12 col-md-6">
            <div class="block-inner">
                <h2>Cwtch Corner</h2>
                <p>We love teaching little ones about how to care for animals, almost
                    as much as they love to cuddle them.  Come and visit our pets
                    in cwtch corner. Your kids will love it.
                </p>
            </div>
        </div>
        <div class="pic-window pic3 block col-sm-12 col-md-6">
            <div class="block-inner">
                <h2>A Working Farm</h2>
                <p>Of course, we're a working farm so there's an array of animals to see.
                    A special treat this time of year are all the new born lambs. 
                </p>
            </div>
        </div>
        <div class="pic-window pic4 block col-sm-12 col-md-6">
            <div class="block-inner">
                <h2>Home Grown</h2>
                <p>All of our produce is of the highedt quality.  This is something
                    we take great pride in. Our animals are raised with love and all of 
                    our fruit and veg is 100% organic.
                </p>
            </div>
        </div>
    </div>
</div>

<!--Family fun for everyone - cwtch corner section -->


<div class="container-fluid light-grey-block">
        <div class="container">
            <h2 class="col text-center">Cwtch Corner</h2>
            <p>Oakfield Farm is full of life and it's your change to meet the animals and get involved.  Spring is an especially 
                exciting time here at the farm as in addition to our rabits, gueane pigs and other fluffy animals we also have 
                lambs.   
            </p>
            <div class="row">
                <div class="col-sm-12 col-md-4">
                    <div class="card">
                        <img class="card-img-top" src="/static/img/lamb-cwtch.jpg" alt="Card image cap">
                        <div class="card-body">
                            <h2>Meet The Lambs</h2>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 col-md-4">
                    <div class="card">
                        <img class="card-img-top" src="/static/img/ducklings.jpg" alt="Card image cap">
                        <div class="card-body">
                            <h2>Meet The Ducklings</h2>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 col-md-4">
                    <div class="card">
                        <img class="card-img-top" src="/static/img/puppy.jpg" alt="Card image cap">
                        <div class="card-body">
                            <h2>Meet The Puppies</h2>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</div>    


<div class="container-fluid farmers-block d-flex align-items-center">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 offset-md-4 col-md-4 about-farm-section">
                <h2 class="text-center">Farmers for Generations</h2>
                <p>Oakfield farm has been in our family for generations.  Everyday on the farm is a joy 
                    for us and no two days are the same.  We love tending to our animals and producing
                    the highest quality produce and farm shop has to offer.  Our love of farming has
                    led to us opening our farm to anyone who wants to visit.
                </p>
                <button type="button" class="btn btn-outline-success">Our Story</button>
            </div>
        </div>
    </div>
</div>

<!-- Best Sellers -->

<div class="container-fluid light-grey-block">
    <div class="container">
        <h2 class="col text-center">Bestsellers</h2>
        <p>Some of our best sellers below.  Remember we pride ourselves on quality produce. If you're not completely satisfied
            we offer a money back gaurantee!
        </p>
        <div class="row">
            <div class="col-sm-12 col-md-3">
                <div class="card">
                    <img class="card-img-top" src="static/img/veg_box.jpg" alt="Card image cap">
                    <div class="card-body">
                        <h3>Vegtable Box</h3>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        <a href="#" class="btn btn-primary">Add to Cart</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-3">
                <div class="card">
                    <img class="card-img-top" src="static/img/veg_box.jpg" alt="Card image cap">
                    <div class="card-body">
                        <h3>Product 2</h3>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        <a href="#" class="btn btn-primary">Add to Cart</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-3">
                <div class="card">
                    <img class="card-img-top" src="static/img/veg_box.jpg" alt="Card image cap">
                    <div class="card-body">
                        <h3>Product 3</h3>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        <a href="#" class="btn btn-primary">Add to Cart</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-3">
                <div class="card">
                    <img class="card-img-top" src="static/img/veg_box.jpg" alt="Card image cap">
                    <div class="card-body">
                        <h3>Product 4</h3>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        <a href="#" class="btn btn-primary">Add to Cart</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>    




        <!--Opening Hours and Ticket Info Section-->
<div class="container">
        <h2>Important Information</h2>

        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quisquam blanditiis quibusdam architecto magni
            accusamus at eos asperiores vero nesciunt. Ratione maiores quidem earum sequi nostrum in incidunt labore
            veniam explicabo reprehenderit nisi temporibus ex vitae nobis, fugiat pariatur distinctio dicta suscipit
            aperiam
        </p>
        <div class="row">
            <div class="col-sm-6">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Opening Times</h5>
                        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                        <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Prices</h5>
                        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                        <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>
            </div>
        </div>
    </div>




    </div>
</div>

{% endblock %}