{% extends 'base.html' %}
{% block content %}

<div class="container">
    <div class="row">
        <h1 class="col text-center">Welcome to Oakfield Farm & Shop</h1>

        <p>We're a family run business with years of experience of producing the finest produce which we sell in our shop both on site
            and online.  We are much more than your ordinary farm shop and offer fun days out for all the family.  Come and visit us in person, meet 
            the animals and enjoy all the fun at the farm.  We often have additional events and run various festivals throughout the summer. Admission
            to the farm is just £2 per child and £3 per adult.  Spend over £40 in our shop and admission is refunded.  So what are you waiting for!
        </p>

       

        
        <!-- clip path elements -->
<div class="container-fluid ">
    <div class="row">
        <div class="pic1 block col-sm-12 col-md-6">
            <div class="block-inner">
                <h1>test</h1>
                <p>this is a test</p>
            </div>
        </div>
        <div class="pic2 block col-sm-12 col-md-6">
            <div class="block-inner">
                <h1>test</h1>
                <p>this is a test</p>
            </div>
        </div>
        <div class="pic3 block col-sm-12 col-md-6">
            <div class="block-inner">
                <h1>test</h1>
                <p>this is a test</p>
            </div>
        </div>
        <div class="pic4 block col-sm-12 col-md-6">
            <div class="block-inner">
                <h1>test</h1>
                <p>this is a test</p>
            </div>
        </div>
    </div>
</div>





        <!--Activity Section-->

        <h2 class="col text-center">Activities</h2>


        <!--Grid System for Activity Cards-->

        <div class="row">
            <div class="window-pic col-sm-12 col-md-6">
                <div class="window-pic-inner">
                    <img class="card-img-top" src="/static/img/family.jpg" alt="Card image cap">
                </div>
            </div>
            <div class="window-pic col-sm-12 col-md-6">
                <div class="window-pic-inner">
                    <img class="card-img-top" src="/static/img/cwtch_corner.jpg" alt="Card image cap">
                </div>
            </div>
            <div class="window-pic col-sm-12 col-md-6">
                <div class="window-pic-inner">
                    <img class="card-img-top" src="/static/img/lamb.jpg" alt="Card image cap">
                </div>
            </div>
            <div class="window-pic col-sm-12 col-md-6">
                <div class="window-pic-inner">
                    <img class="card-img-top" src="/static/img/carrots.jpg" alt="Card image cap">
                </div>
            </div>
        </div>


        <!--Opening Hours and Ticket Info Section-->

        <h2>Important Information</h2>

        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quisquam blanditiis quibusdam architecto magni
            accusamus at eos asperiores vero nesciunt. Ratione maiores quidem earum sequi nostrum in incidunt labore
            veniam explicabo reprehenderit nisi temporibus ex vitae nobis, fugiat pariatur distinctio dicta suscipit
            aperiam
        </p>
        <div class="row">
            <div class="col-sm-6">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Opening Times</h5>
                        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                        <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Prices</h5>
                        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                        <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>
            </div>
        </div>





    </div>
</div>

{% endblock %}