{% extends 'base.html' %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="col text-center">
            <h1>Products</h1>

            <p>MESSAGE: You have just added x to your basket</p>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col text-left">
            <p>FILTER: Price Low to High</p>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col">
            <p>Space reserved for filters and product searchs on the left of the screen</p>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-sm-12 col-md-3 product-filters">
            sdfgasdgsdfgsdfg
        </div>
        <div class="col-sm-12 col-md-3">
            <div class="card product-card">
                <img class="card-img-top" src="/static/img/veg_box.jpg" alt="Card image cap">
                <div class="card-body">
                    <h3>Vegtable Box</h3>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="btn btn-primary">Add to Cart</a>
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-md-3">
            <div class="card product-card">
                <img class="card-img-top" src="/static/img/veg_box.jpg" alt="Card image cap">
                <div class="card-body">
                    <h3>Product 2</h3>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="btn btn-primary">Add to Cart</a>
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-md-3">
            <div class="card product-card">
                <img class="card-img-top" src="/static/img/veg_box.jpg" alt="Card image cap">
                <div class="card-body">
                    <h3>Product 3</h3>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="btn btn-primary">Add to Cart</a>
                </div>
            </div>
        </div>
    </div>
</div>






<div class="container">
    <div class="row">
        <div class="col text-right">
            <p>Page 1 2 3 4 5</p>
        </div>
    </div>
</div>

{% endblock %}