.jumbo-contact {
    background-image: url('../img/phone.jpg');
    background-size: cover;
    height: 50vh;
    box-sizing: border-box;
    background-position: center; 
    padding: 1em;
    color: white;
}

.block-display {
    background-size: cover;
    height: 360px;
    box-sizing: border-box;
    border: solid white 1em;
    background-position: center; 
}

.contact-pic {
    background-image: url('../img/farm_house2.jpg');
}

