@import url('https://fonts.googleapis.com/css?family=Playfair+Display:400,700,800,900|Roboto:400,500,700,900&display=swap');

$green: #566948;
$lightgreen: #748866;
$earthbrown: #84754e;
$grey: #acadaf;  
$offwhite: #f5f5f5; //active button shading
$duckegggrey: #b6c3cc; //works well with lightgreen
$greygreen: #dfdcd5; //footer
$offblack: #000027; //footer text


.btn {
    background-color: $green;
    color: white;
    border: solid $duckegggrey 2px;
    min-width: 40px;
    height: 41px;
    margin-bottom: 4px;
    transition: all 0.3s;
}

.filter-btn {
    background-color: $green;
    color: white;
    border: solid $duckegggrey 2px;
    width: 100%;
    transition: all 0.3s;
}

.subscribe-btn {
    background-color: #565656;
    color: white;
    border: solid $duckegggrey 2px;
    border-radius: 5px;
    min-width: 40px;
    height: 41px;
    margin-bottom: 4px;
    transition: all 0.3s;
}

.subscribe-btn:hover {
    background-color: $green;
    color: white;
    border: solid $duckegggrey 2px;
    border-radius: 5px;
    min-width: 40px;
    height: 41px;
    margin-bottom: 4px;
    transition: all 0.3s;
}



.btn:hover {
    background-color: $grey;
    color: black;
    border: solid $duckegggrey 2px;
}

main {
    padding: 0 0;
}


h1,
h2,
h3 {
    font-family: 'Playfair Display', serif;
    margin-top: 15px;
    margin-bottom: 25px;
}


a,
li {
    font-family: "Roboto",Arial,sans-serif;
}

p {
    font-family: 'Roboto', sans-serif;
    font-size: 1.2em;
}

p {
    margin-bottom: 30px;
}

div {
    margin-bottom: 15px;
        
}




