.pic-window {
    background-size: cover;
    height: 360px;
    box-sizing: border-box;
    border: solid white 1em;
    background-position: center; 
}

.pic1 {
    background-image: url('../img/family.jpg');
   
}
.pic2 {
    background-image: url('../img/cwtch_corner.jpg');
}


.pic3 {
    background-image: url('../img/lamb.jpg');
}


.pic4 {
    background-image: url('../img/carrots.jpg');
}

.food-fruit {
    background-image: url('../img/food-fruit.jpg');
}
.food-veg {
    background-image: url('../img/food-veg.jpg');
}


.food-lamb {
    background-image: url('../img/food-lamb.jpg');
}


.food-beef {
    background-image: url('../img/food-beef.jpg');
}

.food-pork {
    background-image: url('../img/food-pork.jpg');
}

.block {
    border-radius: 3px;
    padding: 0!important;
    
    &-inner {
        background: rgba($color: #000000, $alpha: 0.5);
        height: 100%;
        border-radius: 3px;
        width: 100%;
        clip-path: circle(10% at 0% 0%);
        transition: clip-path .5s ease-in-out;
        padding: 2.5em;

        h2 {
            color: white;
            margin-bottom: 1em;
        }

        p {
            color: white;
            font-size: 1em;
        }
    }

    &:hover .block-inner {
        clip-path: circle(75%);
    }
}

.light-grey-block {
    background-color: rgb(248, 249, 250);
    padding: 2em;
    border-bottom: 2em solid  rgb(248, 249, 250);
    margin-top: -15px;
    
}

.light-green-block {
    background-color: $lightgreen;
    padding: 2em;
    border-bottom: 2em solid rgb(248, 249, 250);
    color: white;
    margin-top: -15px;
}

.farmers-block {
    background-image: url('../img/farm-background.png');
    height: 800px;
    background-size: cover;
    width: 100%;
    margin-top: -15px;
}

.about-farm-section {
    background: rgba(86, 105, 72, 0.8);
    border: white solid 4px;
    color: white;
    display: block;
    padding: 2em;
    text-align: center;   
}

.form-inline .form-control {
    width: 100%;
}

.socialmedia {

    &-links {
        font-size: 3em;
        text-align: center;
        margin-top: 1em;
    }
}
.fa {
    color: $offblack;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
}

.fa:hover {
    color: $duckegggrey;
}

