.jumbotron {
    background-size: cover;
    background-position: center;
    background: #fff;
    padding: 0;
    margin: 0;
}

.logout-message {
    background-color: black;
    color: $green;
    display: block;
    padding: 0;
    margin: auto;
    text-align: center;
    padding-bottom: 1em;
    font-size: 1.2em;
}

.carousel__img {
    max-height: 60vh;
    object-fit: cover;
    max-width: 2300px;
    margin: auto;
}