.header-top {
    background-color: $green;
    color: white;
    font-size: 1em;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 40px;
    z-index: 10;

    &__menu {
        display: flex;
        list-style: none;
                
    }
}

.navbar {
    background-color: $lightgreen; 
}

.logo {
    margin-top: 60px;
    margin-bottom: 10px;
}

.active {
    font-weight: bolder;
}

