.jumbo-products {
    background-image: url('../img/open_sign.jpg');
    background-size: cover;
    height: 50vh;
    box-sizing: border-box;
    background-position: center; 
    padding: 1em;
    color: white;
}

.product-card:hover {
    box-shadow: 0 10px 20px 0 rgba(0,0,0,0.4);
}


